/* Grid */
.grid {
  position: relative;
  max-width: 60em;
  margin: 0 -0.625em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.item {
  position: absolute;
  width: 6vw;
  height: 6vh;
  line-height: 6.25em;
  margin: 0.4vw;
  z-index: 1;
  will-change: transform;
}

.item.muuri-item-positioning {
  z-index: 2;
}

.item.muuri-item-dragging,
.item.muuri-item-releasing {
  z-index: 9999;
}

.item.muuri-item-dragging {
  cursor: move;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.w2 {
  width: 12.8vw;
}

.item.w3 {
  width: 19.6vw;
}

.item.w4 {
  width: 26.4vw;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  border: 0.125em solid;
  color: #333;
  border-radius: 0.25em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.rainbow-box {
  /* https://codepen.io/unnegative/pen/dVwYBq */
  border: 0.625em solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 90vh;
  margin: 0.5em auto;
  padding: 5vh 7.6vw;
  width: 70vw;
  /* https://codepen.io/naprirfan/pen/xEvRae */
  background-image: linear-gradient(rgb(255, 255, 255) .1em, transparent .1em), linear-gradient(90deg, rgb(222, 226, 228) .1em, transparent .1em);
  background-size: 6.8vw;
}

.card-id {
  position: absolute;
  left: 0.438em;
  top: 0;
  height: 1.875em;
  line-height: 1.875em;
  text-align: left;
  font-size: 1em;
  font-weight: 400;
}

.card-remove {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.875em;
  height: 1.875em;
  line-height: 1.875em;
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
  cursor: pointer;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.card:hover>.card-remove {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}

html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: relative;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  margin: 0 1.25em;
  color: #6e6e6e;
}

.rainbow-text {
  /* https://w3bits.com/rainbow-text/ */
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 0.3vw;
  font-size: 1.3vw;
  margin: 0 auto;
}

.section-title {
  margin: 0em auto;
  color: #1c1493;
  font-size: 4vw;
  padding: 0;
  letter-spacing: 2vw;
  text-transform: uppercase;
  text-align: center;
}

/* Block design */

.item.red .card {
  /* https://codepen.io/raad/pen/EzFAv */
  background: -moz-linear-gradient(top,
    #FFFFFF 0%,
    #FF0000 50%,
    #FFFFFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #FFFFFF),
    color-stop(50%, #FF0000),
    color-stop(100%, #FFFFFF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #FFFFFF 0%,
    #FF0000 50%,
    #FFFFFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #FFFFFF 0%,
    #FF0000 50%,
    #FFFFFF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,
    #FFFFFF 0%,
    #FF0000 50%,
    #FFFFFF 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,
    #FFFFFF 0%,
    #FF0000 50%,
    #FFFFFF 100%);
  border-color: #FF0000;
}

.item.orange .card {
  /* https://codepen.io/raad/pen/EzFAv */
  background: -moz-linear-gradient(top,
    #FFFFFF 0%,
    #FF7F00 50%,
    #FFFFFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #FFFFFF),
    color-stop(50%, #FF7F00),
    color-stop(100%, #FFFFFF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #FFFFFF 0%,
    #FF7F00 50%,
    #FFFFFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #FFFFFF 0%,
    #FF7F00 50%,
    #FFFFFF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,
    #FFFFFF 0%,
    #FF7F00 50%,
    #FFFFFF 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,
    #FFFFFF 0%,
    #FF7F00 50%,
    #FFFFFF 100%);
  border-color: #FF7F00;
}

.item.yellow .card {
  /* https://codepen.io/raad/pen/EzFAv */
  background: -moz-linear-gradient(top,
    #FFFFFF 0%,
    #FFFF00 50%,
    #FFFFFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #FFFFFF),
    color-stop(50%, #FFFF00),
    color-stop(100%, #FFFFFF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #FFFFFF 0%,
    #FFFF00 50%,
    #FFFFFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #FFFFFF 0%,
    #FFFF00 50%,
    #FFFFFF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,
    #FFFFFF 0%,
    #FFFF00 50%,
    #FFFFFF 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,
    #FFFFFF 0%,
    #FFFF00 50%,
    #FFFFFF 100%);
  border-color: #FFFF00;
}

.item.green .card {
  /* https://codepen.io/raad/pen/EzFAv */
  background: -moz-linear-gradient(top,
    #FFFFFF 0%,
    #00FF00 50%,
    #FFFFFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #FFFFFF),
    color-stop(50%, #00FF00),
    color-stop(100%, #FFFFFF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #FFFFFF 0%,
    #00FF00 50%,
    #FFFFFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #FFFFFF 0%,
    #00FF00 50%,
    #FFFFFF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,
    #FFFFFF 0%,
    #00FF00 50%,
    #FFFFFF 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,
    #FFFFFF 0%,
    #00FF00 50%,
    #FFFFFF 100%);
  border-color: #00FF00;
}

.item.blue .card {
  /* https://codepen.io/raad/pen/EzFAv */
  background: -moz-linear-gradient(top,
    #FFFFFF 0%,
    #0000FF 50%,
    #FFFFFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #FFFFFF),
    color-stop(50%, #0000FF),
    color-stop(100%, #FFFFFF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #FFFFFF 0%,
    #0000FF 50%,
    #FFFFFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #FFFFFF 0%,
    #0000FF 50%,
    #FFFFFF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,
    #FFFFFF 0%,
    #0000FF 50%,
    #FFFFFF 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,
    #FFFFFF 0%,
    #0000FF 50%,
    #FFFFFF 100%);
  border-color: #0000FF;
}

.item.purple .card {
  /* https://codepen.io/raad/pen/EzFAv */
  background: -moz-linear-gradient(top,
    #FFFFFF 0%,
    #9400D3 50%,
    #FFFFFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, #FFFFFF),
    color-stop(50%, #9400D3),
    color-stop(100%, #FFFFFF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
    #FFFFFF 0%,
    #9400D3 50%,
    #FFFFFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,
    #FFFFFF 0%,
    #9400D3 50%,
    #FFFFFF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top,
    #FFFFFF 0%,
    #9400D3 50%,
    #FFFFFF 100%);
  /* IE10+ */
  background: linear-gradient(to bottom,
    #FFFFFF 0%,
    #9400D3 50%,
    #FFFFFF 100%);
  border-color: #9400D3;
}

.item.transparent .card {
  color: white;
  opacity: 0;
}

/* https://codepen.io/lemmin/pen/WObwRX */
.rainbow-button {
  text-decoration:none;
  color:black;
  width:calc(30vw + 6px);
  height:calc(8vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:3vw;
  font-weight:bold;
}
.rainbow-button:after {
  content:attr(alt);
  width:30vw;
  height:8vw;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.center {
  display: flex; 
  justify-content: center;
}

#pwaAddButton {
  display: none;
}